* {
  margin: 0;
}

h1 {
  color: goldenrod;
	/* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(232, 211, 106); */
}

#root {
  margin: 0 auto;
  padding:2rem;
  text-align: center;
}

.search-div {
  margin: 0.5rem 0 4rem 0;
}

#query {
  text-align: center;
  font-size:16px;
  padding:2px;
  border-color: goldenrod;
  border-radius:5px;
}

#query:focus {
  outline: 1px solid wheat;
}

.single-item {
  margin:0.2rem 1.3rem;
}

.single-item--img {
  min-width: 44px;
  min-height:44px;
  max-width: 54px;
  max-height:54px;
  border-radius:5px;
}

.single-item--name {
  font-size:1.3rem;
  margin-bottom: 0.1rem;
}

.item-tooltip {
  position:absolute;
  background-color: rgba(11,11,11,0.7);
  border-radius: 0.3rem;
  border-top: 1px solid white;  
  padding: 1rem;
  z-index: 77;
  top:0;
  left:0;
  text-align: left;
  padding:1rem;
}

.item-tooltip--not-empty {
  min-width: 200px;
}

.item-level {
  color: rgb(255, 197, 52);
}

.inventory-type {
  display:flex;
}

.item-class{
}
.item-subclass{
  margin-left:auto;
}

.dmgDiv{
  font-weight: bold;
  display: flex;
  align-content: space-between;
}
.dmgSep {
  margin: 0px 3px;
}
.speed{
  margin-left:auto;
}

.armorAmount{
  font-weight: bold;
}

.char-items {
  padding-top:3rem;
  padding-bottom:2rem;
}
.char-items--top{
  display:flex;
  align-items: center;
}
.char-items--bottom{
  display: flex;
}
.char-items--left-bar {
  min-width:102px;
  margin-left:0;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
}
.char-items--char-display{
  width:100%;
}
.char-items--right-bar{
  min-width:102px;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
}
.char-items--bottom-bar{
  display:flex;
  margin-top:2rem;
  margin-left:auto;
  margin-right:auto;
  align-content:space-around;
}


.no-outline {
  outline:none !important;
}

.quality-poor {
  outline: 2px solid lightslategray;
  color: lightslategray;
}
.quality-common {
  outline: 2px solid white;
  color:white;
}
.quality-uncommon {
  outline: 2px solid rgb(9, 162, 34);
  color: rgb(9, 162, 34);
}
.quality-rare {
  outline: 2px solid rgba(57, 76, 255, 0.996);
  color: rgba(57, 76, 255, 0.996);
}
.quality-epic {
  outline: 2px solid rgb(227, 28, 227);
  color:rgb(227, 28, 227);
}
.quality-legendary {
  outline: 2px solid rgb(206, 81, 3);
  color: rgb(206, 81, 3);
}
.quality-artifact {
  outline: 2px solid darkred;
  color: darkred;
}
