* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.temp {
  background-color: aliceblue;
}

.tempCharList {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.notAnActualHref {
  color:white;
  padding:10px;
}

.notAnActualHref:hover {
  /* cursor: url('/Cast.png'),auto; */
}
/* .notAnActualHref:visited {
  color:darkcyan;
} */

html {
  background-color: #151515;
}


body {
  z-index: -111;
  background-color: #242424;
  background: radial-gradient(closest-side, #242424, #151515);
  /* filter: url('#noiseFilter'); */
  color: white;
  padding-bottom: 100px;
  cursor: url("/Point.png"), auto;
  min-width: 396px;
}

.armoryHeading {
  color: goldenrod;
  font-weight: 900;
  font-size: 66px;
	/* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(232, 211, 106); */
}

#root {
  margin: 0 auto;
  text-align: center;
  height:auto;
}

.App {
  position:relative;
}

.search-div {
  margin: 2rem 0rem 3rem 0;
}

#query {
  text-align: center;
  font-size:18px;
  padding:2px;
  border-radius:5px;
  min-width:300px;
}

#query:focus {
  outline: 1px solid wheat;
}

.queryForm {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width:100px;
  margin:auto;
}
.queryForm > button {
  margin-top: 1rem;
  font-size: medium;
  padding:0.5rem 1rem;
}

.single-item {
  margin:0.2rem 1.3rem;
}

.single-item--img {
  min-width: 32px;
  min-height:32px;
  max-width: 54px;
  max-height:54px;
  border-radius:2px;
}

.single-item--name {
  font-size:larger;
  margin-bottom: 0.1rem;
  font-weight:500;
}

.item-tooltip {
  position:fixed;
  background-color: rgba(11,11,11,0.7);
  border-radius: 0.3rem;
  border-top: 1px solid rgba(255,255,255,0.6);
  border-right: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.3); 
  border-left: 1px solid rgba(255,255,255,0.3);
  z-index: 77;
  top:0;
  left:0;
  text-align: left;
  padding:1rem;
  font-weight:300;
}

.item-tooltip > * {
  padding-top:3px;
}

.itemMisc > * {
  padding-top:3px;
}

.dmgDiv > * {
  padding-top: 3px;

}

.item-tooltip--not-empty {
  min-width: 300px;
}

.item-level {
  color: rgb(255, 197, 52);
}

.inventory-type {
  display:flex;
}

.item-class{
}

.item-subclass{
  margin-left:auto;
}

.dmgDiv{
  /* font-weight: bold; */
  display: flex;
  align-content: space-between;
}
.dmgSep {
  margin: 0px 3px;
}
.speed{
  margin-left:auto;
}

.armorAmount{
}

.statsDiv {
  padding-top:5px;
}
.resistDiv{
  padding-top:5px;
}

.durabilityText{ 
  padding-top:1rem;
}

.charSheet {
  position: relative;
  display: flex;
  flex-direction: column;
}

.quick-partition-faction {
  display: flex;
  position: relative;
  grid-column-start: 3;
  padding-left:2rem;
  overflow: hidden;
}
.quick-partition-char {
  display: flex;
  position: relative;
  grid-column-start: 2;
  min-width:270px;
  align-items: center;
  padding-left:1rem;
}

.quick--faction-logo {
  /* position:absolute;
  left:0; */
  height:150px;
  -webkit-filter: drop-shadow(2px 2px 30px rgba(255, 255, 255, 0.2));
  filter: drop-shadow(2px 2px 30px rgba(255, 255, 255, 0.2));
}

.quick-portrait-box {
  position: relative;
  margin-right:0.5rem;
}

.quick-level {
  background: no-repeat center center url("/levelCircle.png");
  background-size: contain;
  position:absolute;
  color: rgb(255, 231, 72);
  border-radius:100%;
  padding:5px;
  background-color: #151515;
  right:3px;
  top: 87px; /*height of portrait image*/
  height:27px;
  width:27px;
  text-align: center;
  font-size: 1.27rem;
}

.quick-portrait {
  border-radius:1rem;
  height:99px;
  margin:1rem 0.8rem;
}

.quick-details{
}

.quick-name {
  font-size:xx-large;
  margin: 0rem 0rem 0.2rem 0rem;
  filter: drop-shadow(1px 1px 33px rgba(255,255,255,0.8));
  /* text-shadow: 0px 3px rgba(1,1,1,0.5); */
  /* -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6); */
}

.quick-hrank {
  color: gold;
}

.char--quick-info {
  position:relative;
  margin-top: 3rem;
  min-height:100px;
  align-items: center;
  display:inline-grid;
  min-width:300px;
  max-width:1000px;
  filter:drop-shadow(0px 0px 77px rgba(255,255,255,0.2));
  padding:1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  /* border-bottom: 1px dotted rgba(255,255,255,0.1); */
}

.char-items {
  position:relative;
  display: flex;
  min-width: 300px;
  max-width: 1000px;
  flex-direction: column;
  padding-top:3rem;
  margin-bottom: 10rem;
  margin:auto;
  /* background-color: rgba(255,255,255,0.5); */
}

.char--display {
  position: relative;
  height: 600px;
}

.char--faction-logo {
  margin-top:7rem;
  opacity:0.3;

}


.wipText {
  color: rgba(255,255,255,0.1);
}

.scene,
canvas {
  z-index: 111;
}

.bootyBG {
}

.char-img {
  width:auto;
}

.char--display-overlay {
  z-index: 33;
  position: absolute;
  width:100%;
}

.topBars {
  display:flex;
  flex-wrap: nowrap;
}

.bottomBar {
  padding-top:1rem;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.char-items--left-bar {
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  margin-right: auto;
}

.char-items--right-bar{
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  margin-left:auto;
}
.char-items--bottom-bar{
  display:flex;
}

.char-items--bottom-bar > :nth-child(2) {
  margin-left: 0;
}
.char-items--bottom-bar > :nth-child(1) {
  margin-right:1rem;
}

.no-outline {
  outline:none !important;
}

.quality-poor {
  outline: 2px solid lightslategray;
  color: lightslategray;
}
.quality-common {
  outline: 2px solid white;
  color:white;
}
.quality-uncommon {
  outline: 2px solid rgb(9, 162, 34);
  color: rgb(9, 162, 34);
}
.quality-rare {
  outline: 2px solid rgba(57, 76, 255, 0.996);
  color: rgba(57, 76, 255, 0.996);
}
.quality-epic {
  outline: 2px solid rgb(227, 28, 227);
  color:rgb(227, 28, 227);
}
.quality-legendary {
  outline: 2px solid rgb(206, 81, 3);
  color: rgb(206, 81, 3);
}
.quality-artifact {
  outline: 2px solid darkred;
  color: darkred;
}

/* 
0xff9d9d9d,        // GREY
0xffffffff,        // WHITE
0xff1eff00,        // GREEN
0xff0070dd,        // BLUE
0xffa335ee,        // PURPLE
0xffff8000,        // ORANGE
0xffe6cc80         // LIGHT YELLOW 
*/